@import "tailwindcss";
@import "@heroui/styles";

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Override default colors */
  --accent: #4c5eff;
}

@theme inline {
  --font-helvetica: "Helvetica", sans-serif;

  --color-accent: var(--accent);
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; /* Высота вашей шапки + небольшой запас */
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.eot");
  src:
    local("Helvetica"),
    url("/fonts/Helvetica.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Helvetica.woff2") format("woff2"),
    url("/fonts/Helvetica.woff") format("woff"),
    url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Light.eot");
  src:
    local("Helvetica Light"),
    local("Helvetica-Light"),
    url("/fonts/Helvetica-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Helvetica-Light.woff2") format("woff2"),
    url("/fonts/Helvetica-Light.woff") format("woff"),
    url("/fonts/Helvetica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Bold.eot");
  src:
    local("Helvetica Bold"),
    local("Helvetica-Bold"),
    url("/fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Helvetica-Bold.woff2") format("woff2"),
    url("/fonts/Helvetica-Bold.woff") format("woff"),
    url("/fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.accordion__item {
  border: #4c5eff 2px solid;
}
